// About Page

.image {
  border: 1px solid $grey-border;
  display: inline-block;
  float: right;
  height: 50%;
  margin: 10px 15px;
  width: 50%;
}

main p {
  display: inline-block;
  font-size: 14px;
  margin: 10px 0;
}
